@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header img {
    width: 200px;
    vertical-align: middle;
    margin-right: 25px;
}

.navbar {
    width: 50%;
    display: flex;
}

.navbar li {
    list-style: none;
    padding: 26px 30px;
}

.navbar .nav-item {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: black;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    margin: auto;
    padding-top: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer img {
    width: 200px;
    vertical-align: middle;
}

footer li {
    list-style: none;
}

footer > * {
    margin-left: 77x;
    margin-right: 77px;
}

footer p, li > .nav-item {
    font-family: 'Karla', sans-serif;
    color: black;
    text-decoration: none;
    white-space: nowrap;
}

footer p {
    font-weight: bold;
    vertical-align: top;
}

.home {
    display: block;
    background-color: #495E57;
    position: absolute;
    width: 100%;
    height: 300px;
}

.home > * {
    z-index: 5;
    margin-left: 15vh;
    text-align: left;
}

.home h1 {
    margin-top: 25px;
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    color: #F4CE14;
    font-weight: normal;
}

.home h2 {
    font-family: 'Markazi Text', serif;
    font-size: 40px;
    color: white;
    font-weight: normal;
}

.home p {
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: white;
    word-wrap: break-word;
    width: 20%;
}

.home .background {
    z-index: 3;
}